@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&family=Lato:wght@400;700&family=Montserrat&display=swap");

* {
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(226, 232, 240);
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
}

html {
    line-height: 1.5;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    padding: 32px;
}

.purple__txt {
    color: #6415ff;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: #243e63;
    text-decoration: none;
    position: relative;
}

p {
    color: #243e63;
}

img {
    max-width: 100%;
    height: auto;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-cursor {
    cursor: not-allowed;
}


/* NAV */

.nav__logo {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.025em;
    text-decoration: none !important;
    padding-bottom: 4px;
    margin: 0 24px 0 0;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.025em;
    padding-top: 6px;
    padding-bottom: 4px;
    margin: 0px 1.5rem;
    border-bottom: 2px solid white;
    transition: all 300ms ease;
}

.nav__link:hover {
    border-width: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #6415ff;
}

.nav__logo:hover,
.nav__link:hover {
    color: #6415ff;
}

.nav__link-login {
    margin-left: 3rem !important;
}

.nav__linkPrimary {
    text-decoration: none !important;
    background-color: #6415ff;
    color: #fff !important;
    padding: 12px 32px;
    border-radius: 9999px;
    border-bottom-width: 0px;
    margin-left: 0;
    margin-right: 0;
}

.nav__linkPrimary:hover {
    background-color: #5011cc;
    border: none;
}

.logo {
    width: 40px;
    margin: 0 12px 0 0;
}

/* LANDING */

.two__column--input-container {
    width: 100%;
}

.two__column--input {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.left__column {
    display: flex;
    flex-direction: column;
    width: 42%;
    text-align: left;
}

.left__column--heading {
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: 700;
}

.left__column--para {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.left__column--actions {
    position: relative;
    height: 68px;
    max-width: 28rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}

input {
    font-size: 100%;
    font-weight: 500;
    line-height: 1;
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    padding-right: 12rem;
    margin: 0;
    border-width: 2px;
    border-radius: 9999px;
    transition: all 300ms ease;
}

input:hover {
    border-color: rgb(160, 174, 192);
}

input::placeholder {
    color: rgb(202, 206, 213);
    font-weight: 500;
}

input:focus {
    outline: none;
}

input:focus-within {
    border-color: #742cff;
}

button {
    position: absolute;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    width: 10rem;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 9999px;
    font-weight: 700;
    color: #f7fafc;
    background-color: #6415ff;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease;
}

button:hover {
    background-color: #5011cc;
}


.left__column--CustomerLogos {
    margin-top: 5rem;
}

.customer__logo-para {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: rgb(160, 174, 192);
}

.customer__logo-strip {
    padding-right: 4rem;
    margin-top: 1rem;
    width: 100%;
    opacity: 0.5;
}

.right__column {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 58%;
    margin-top: 0px;
    align-self: flex-end;
}

.right__column--illustration {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.column__inputR-img {
    width: 100%;
    min-width: 0px;
    max-width: 32rem;
}

.two__column--input-decoration {
    position: absolute;
    transform: translateX(-10px) translateY(-38.2rem);
    left: 0px;
    bottom: 0px;
    z-index: -10;
    height: 16rem;
    width: 16rem;
    opacity: 0.05;
}

/* FEATURES */

.three__column--features-container {
    position: relative;
}

.three__column--features {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1024px;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
}

.three__column--subheader {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.three__column--header {
    width: 100%;
    text-align: center;
    color: #243e63;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.three__column--description {
    width: 100%;
    text-align: center;
    color: #7c8ba1;
    margin-top: 1rem;
    max-width: 36rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625;
}

.three__column--VerticalSpacer {
    margin-top: 2.5rem;
    width: 100%;
}

.feature__with--sideImg {
    width: 33.3333%;
    max-width: 24rem;
}

.feature__with--sideImg-Card {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem 0.5rem;
    text-align: left;
}

.imageContainer {
    flex-shrink: 0;
    height: 66px;
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
}

.textContainer {
    /* margin-top: 1rem; */
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.title {
    margin-top: 1rem;
    color: #243e63;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
}

.description {
    /* margin-top: 0.25rem */
    margin-top: 1rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(124, 139, 161);
}

.three__column--decoration {
    position: absolute;
    transform: translateX(8rem) translateY(12rem);
    right: 0px;
    bottom: 0px;
    width: 16rem;
    opacity: 0.25;
}